@import url(https://fonts.googleapis.com/css2?family=Dongle:wght@300;400&display=swap);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}
body {
  min-width: 580px;
  min-height: 480px;
  font-family: Dongle, sans-serif;
  background-color: #011a24;
  color: #001219;
}
#header {
  width: 100%;
  padding: 4px 10px;
}
#nav {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  align-items: center;
  justify-content: space-between;
}
.footer-images {
  width: 1rem;
  height: 1rem;
}
#heading {
  text-align: center;
  font-size: 2rem;
  color: #eee;
  letter-spacing: 2px;
}
#main {
  width: 100%;
  min-height: 25rem;
}
.favs {
  width: 1rem;
  background-color: #eee;
}
#fav-btn {
  border: none;
  background: 0 0;
}
#fav {
  display: none;
}
.coin_name {
  font-size: 18px;
  margin-left: 6px;
  overflow: hidden;
  max-height: 1.4rem;
}
.coin {
  position: relative;
  display: block;
  font-size: 18px;
  width: 8rem;
  height: 100%;
  padding: 0 0 0 20px;
  background: #f5d4f6;
  border-radius: 4px;
  padding: 6px;
  background: linear-gradient(90deg, #f5d4f6 0, #fae8d5 100%);
  background: -moz-linear-gradient(90deg, #f5d4f6 0, #fae8d5 100%);
  background: -webkit-linear-gradient(90deg, #f5d4f6 0, #fae8d5 100%);
}
.image {
  width: 16px;
  object-fit: contain;
  height: 16px;
}
.coin_header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  position: absolute;
  top: 40%;
  left: calc(50% - 6rem / 2);
  animation: spin 2s linear infinite;
}
#coin-list {
  display: flex;
  grid-template-columns: repeat(auto-fill, 130px);
  align-content: flex-start;
  justify-content: center;
  margin: 0 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  flex-wrap: wrap;
  overflow: scroll;
  max-height: 400px;
  min-height: 400px;
  overflow-x: hidden;
  gap: 8px;
}
.coin-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.icons {
  width: 20px;
  height: 20px;
}
.buttons {
  border: none;
  padding: 6px;
  background: 0 0;
  transition: 0.1s ease-in-out;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.buttons:hover {
  background-color: #d6ccc2;
}
.info-btn {
  border: none;
  background: 0 0;
}
.box {
  display: block;
  align-items: center;
  justify-content: flex-start;
}
.info-img {
  width: 1rem;
  height: 1rem;
}
#changeInput,
#targetItem,
#timeInput {
  width: 4rem;
  font-size: 12px;
}
.change {
  font-size: 1.2rem;
  width: 100%;
  padding-top: 1px;
  font-weight: 400;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}
#fav-btn {
  position: absolute;
  top: 2%;
  right: 2%;
}
.buttons:active {
  background-color: #6c757d;
}
.aside {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0 16px 0 8px;
}
.aside:last-child {
  justify-content: flex-end;
}
.hidden {
  display: none;
}
.modalSettings {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 60%;
  background-color: #fff;
  padding: 1rem 1.2rem;
  font-size: 1.6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}
label {
  font-size: 1.2rem;
  line-height: 1rem;
}
#currensies {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.2rem;
}
.currency,
.hour {
  padding: 6px;
  border-radius: 2px;
  border: 1px solid transparent;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0, rgba(27, 31, 35, 0.15) 0 0 0 1px;
  background: #f1faee;
  transition: 0.1s ease-in-out;
}
#search {
  border-radius: 10px;
  border: 1px solid gray;
  width: 100%;
  outline: 0;
  padding: 2px 6px;
}
.currency:hover,
.hour:hover {
  border: 1px solid gray;
}
button:hover {
  cursor: pointer;
}
.currency:active,
.hour:active {
  background-color: #6c757d;
}
.currSign {
  font-size: 1.2rem;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 1.4rem;
  width: 2rem;
  height: 2rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: 0 0;
  border-radius: 1rem;
  margin-right: -1rem;
}
.close-modal:hover {
  background: gray;
}

#settings {
  text-align: center;
}
li {
  list-style: none;
}
#hourList {
  margin-top: 2rem;
}
.headers {
  color: #10002b;
}
#count {
  text-align: left;
  color: #eee;
  padding: 0 8px;
}
footer {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  bottom: 0;
  font-size: 1rem;
  padding: 4px 16px 4px 10px;
}
.display {
  display: block;
}
.social-media {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  padding: 0 16px;
}
a {
  display: flex;
  align-items: center;
  justify-content: center;
}
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #ccc;
}
::-webkit-scrollbar-thumb:hover {
  background: #999;
}
.default {
  border: 1px solid #000;
}
